html {
    background-color: #fefefe;
}

body {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: #454545;
    margin: 2em auto;
    line-height: 1.6;
    text-align: justify;
}

h2 {
    font-family: 'Mina', sans-serif;
}
